body {
    font-family: Arial, sans-serif;
    background-color: #363945;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 330px;
    height: 330px;
    background-color: #61636b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 10px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
}
label{
    font-weight: bold;
    
}

input[type="submit"], input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #A2242F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #343148;
}
