table {
    border-collapse: collapse;
    width: 100%;
    font-family:  cursive;
  }
  
  tr:nth-child(odd) {
    background-image: linear-gradient(to bottom, hsl(0, 4%, 63%), #837676); /* Dégradé de couleur entre les lignes */
  }
  
  tr:nth-child(even) {
    
    background-image: linear-gradient(to bottom, #837676, hsl(0, 4%, 63%)); /* Dégradé de couleur entre les lignes */
  }

  label{
    background-image: linear-gradient(to bottom, #662b2b, hsl(0, 4%, 63%)); /* Dégradé de couleur entre les lignes */

  }

  h1{
    margin-top: 15px;
  }