.conteneur {
    position: relative;
    overflow: visible;
}
    
.conteneur .objet_vise {
    color: blue;
}
    
.conteneur .objet_vise:hover {
    color: red;
    visibility: visible;
    opacity: 1;
}
    
.conteneur .infobulle {
    position: absolute;
    width: auto;
    min-width: max-content;
    max-width: max-content; /* Largeur maximale de l'infobulle */
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}
    
.conteneur:hover .infobulle {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

 