table {
    font-family:  cursive;
    margin: 0 auto; /* pour centrer le tableau horizontalement */
    background-color: #F8D7DA; /* couleur de fond du tableau */
    padding: 20px; /* pour ajouter de l'espace autour du tableau */
    border-collapse: collapse;
    
  }
  .util {
    background-color: #F2F2F2; /* couleur de fond de la page */
  }
  
  a{
    margin-left: 15px;
  }

  td,th{
    border: 1px solid black;
    
    text-align: center;
  }

  tr{
    text-align: center;
    
  }

  

  .ajouter-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #7289da;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .ajouter-btn:hover {
    background-color: #343148;
  }
  